

#gallery {
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.close {
			.icon-cancel-circle {
				float: right;
				margin: em(16px);
			}
		}
		.holder {
			position: absolute;
			top: 73px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			height: calc(100% - 250px);
			@media #{$desktop} {
				display: block;
			}
			@media only screen and (max-width: 800px) and (max-height: 700px) and (orientation: landscape) {
				display: inline-block;
				width: 75%;
				height: 100%;
				position: relative;
				left: 0;
				top: 0;
			}
			.spinner {
				font-family: 'icomoon';
				font-size: 48px;
				position: absolute;
				top: calc(50% - 24px);
				left: calc(50% - 24px);
				@include keyframes('spinning') {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
				animation: spinning 3s linear infinite;
			}
			
			img {
				display: block;
				margin: auto;
				width: 70%;
				align-self: center;
				max-height: 100%;
				// z-index: 50;
				@media #{$desktop} {
					width: 45%;
				}
			}
			.portrait {
				width: 70%;
				height: auto;
				@media #{$tablet} {
					height: 80%;
					width: auto;
				}
				@media #{$desktop} {
					height: 90%;
				}
			}
		}
		.info-holder {
			text-align: center;
			padding-bottom: em(24px);
			position: absolute;
			z-index: 100;
			bottom: em(32px);
			width: 100%;
			@media only screen and (max-width: 900px) and (max-height: 700px) and (orientation: landscape) {
				display: table;
				align-content: center;
				position: absolute;
				top: 73px;
				right: 0;
				width: 25%;
				// height: calc(100% - 73px);

			}
			span[class^='icon'] {
				font-size: em(24px);
				margin: em(12px) em(12px) 0;
			}
			h3 {
				margin: em(6px) auto;
			}
			p {
				width: 100%;
				text-align: center;
				margin: em(5px) auto;
			}
		}
	}
}
